#container {
  background: url('../images/Landscape.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.theta-carousel-inner-container {
    margin: auto 0 auto 0 !important;   
}

#myHeader {
    margin-top: 170px;
    margin-left: 20px;
    position: relative;
    z-index: 3;
    font-size: 58px;
}