#container {
    background: url('../images/Landscape.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.theta-carousel-inner-container {
    margin-top: -100px !important;
}