html, body{ 
    margin: 0;
    padding: 0
}

video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.home-mainText {
    z-index: 2;
    position: relative;
    background: rgba(0,0,0,0.4);
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
}

#homeText1 {
    font-size: 100px;
    top: 150px;
    left: 20px;
    position: absolute;
    z-index: 5;
    animation-delay: 23s;
}