/* app css stylesheet */
#main-navbar {
    border-radius: 0px !important;
    text-align: center;
    border-style: solid;
    border-color: black;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 10px;
    height: 50px;
    padding-top: 0;
    margin-left: 20px !important;
}

#main {
    position: relative;
    background-color: white;
    margin-top: 50px;
    margin-left: 10x;
    height: 780px;
    font-size: 40px;
    background-color: white;
}

#beta-tag {
    height: 55px;
    z-index: 1000;
    margin-left: -150px;
    position: fixed;
}