<div id="contactMe">
    <div id="container" style="top: 0px; bottom: 0px; position: relative; right: 0px; left: 0px;">    
        <h1 id="myHeader">Find me on... </h1>

        <div class="ex-item">
            <a href="www.github.com">
                <img src="./images/Icons/Github.png" />
            </a>
    
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Linkedin.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Google+.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Facebook.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Twitter.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/WhatsApp.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Reddit.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Instagram.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/YouTube.png" />
        </div>
    </div>
</div>