<h1 id="myHeader">Find me on... </h1>

<div id="container" style="top: 0px; bottom: 0px; position: absolute; right: 0px; left: 0px;">
        <style type="text/css">
            .ex-item {
                height: 256px;
                width: 256px;
                display: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        </style>

        <div class="ex-item">
            <img src="./images/Icons/Github.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Linkedin.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Google+.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Facebook.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Twitter.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/WhatsApp.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Reddit.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/Instagram.png" />
        </div>
        <div class="ex-item">
            <img src="./images/Icons/YouTube.png" />
        </div>

    </div>