<div class="home-container">
    <video id="home-video" src="./media/Climbing_the_Mountain.mov" type="video/mp4" autoplay="true" preload="auto">
    </video>
</div>

<div class="container">	
    <div class="os-phrases" id="os-phrases">
        <h2 id="sequence1">A Journey</h2>
        <h2 id="sequence2">Across the Dev Landscape</h2>
        <h2 id="sequence3">Exploring New Technologies</h2>
        <h2 id="sequence4">Mastering the Fundamental Core</h2>
        <h2 id="sequence5">Hello, World.</h2>
    </div>
</div>
<about-me></about-me>
<work-history></work-history>
<contact-me></contact-me>
