<nav id="main-navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <img id="beta-tag" src="http://vignette1.wikia.nocookie.net/halo/images/1/18/USER_Beta-fa57c0f729a85270476ce787243d1c43.png/revision/latest?cb=20130513003812">        
      <a class="navbar-brand" href="#">Kunal Ojha | Web Developer</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#aboutme">About Me</a></li>
      <li><a href="#workHistory">Experience</a></li> 
      <li><a href="#contactMe">Contact</a></li> 
      <li><a href="#blog">Blog</a></li> 
    </ul>
  </div>
</nav>