<header>
		<h1 id="workHistory-Header">Education and Work Experience</h1>
	</header>
<section id="cd-timeline" class="cd-container">
        
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h1>Oakland Consulting</h1>
                <h2>UI Developer</h2>
				<p>Primarily involved in the agile development and frontend creation of the Defense Logistics Agency’s Pricing Tool Application. Duties included supporting teams into adapting agile methodologies and ceremonies. I also headed efforts in transitioning the development team to writing their code using Test-Driven Development and automating the SDLC flow. 
                </p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">September 2016 - March 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h1>VETS Enterprise Technology</h1>
                <h2>MEAN Stack Developer</h2>
				<p>Contributed in the full stack development of the Defense Logistics Agency Dashboard. Significant allotments of my time was spent harnessing the power and flexibility of the Angular.js framework. I also took on a new role as the subject matter expert for all things 508 Compliance and Accessibility standards. </p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">December 2015 - September 2016</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="img/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h1>MSDSOnline</h1>
                <h2>Web Developer</h2>
				<p>Contributed in designing a new and Responsive Website with end goal of transitioning to an interactive website in which communication channels between customers and our company were seamless and user-friendly. </p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">November 2014 - November 2015</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h1>Illinois EPA</h1>
                <h2>Junior Developer</h2>
				<p>Team effort in updating toxicology standard measurements and reports traditionally from hard copy prints towards an online platform. Responsible for uploading topographical maps of the state of Illinois with partnership with the Illinois Geological Survey.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">December 2013 - August 2014</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
        
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h1>Indiana University</h1>
			    <h2>Graduated, Bachelor's of Arts</h2>
				<span class="cd-date">Fall 2013</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->    

        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h1>Buffalo Grove High School</h1>
			    <h2>Graduated, H.S. Diploma</h2>
				<span class="cd-date">Summer 2008</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		