/* app css stylesheet */
#main-navbar {
    border-radius: 0px !important;
}

#main-jumbotron {
    position: relative;
    background-color: #F1F1EA;
    margin-top: -20px;
    margin-left: 10x;
}

#container1 {
    position: relative; 
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
    margin-top: -30px;
    height: 300px;
    background-color: slategray
} 

#container2 {
    position: relative; 
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
    margin-top: -30px;
    height: 300px;
    background-color: blacks
} 
