/* app css stylesheet */
#main-navbar {
    border-radius: 0px !important;
}

#main-jumbotron {
    position: relative;
    background-color: #F1F1EA;
    margin-top: 50px;
    margin-left: 10x;
}

#container1 {
    position: relative; 
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
    margin-top: -30px;
    height: 400px;
    background-color: slategray
} 

#container2 {
    position: relative; 
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
    margin-top: -30px;
    height: 400px;
    background-color: black;
} 

#profile-pic {
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    height: 300px;
    width: auto;
    margin-left: 75px;
}

.node {
    cursor: pointer;
    }

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.found {
    fill: #ff4136;
    stroke: #ff4136;
}
.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
/*Just to ensure the select2 box is "glued" to the top*/
.search {
    width: 100%;
}